.flex {
    display: flex;
}
.center {
    @extend .flex;
    align-items: center;
    justify-content: center;
}
.between {
    @extend .flex;
    align-items: center;
    justify-content: space-between;
}
